In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
overview = pd.read_csv('_cleaned_overview.csv')
performance = pd.read_csv('_cleaned_performance.csv')

In [14]:
overview.head(10)

,Year,Host,Teams,Winner,Winner Goals,Runner Goals,Hints,Runner-up
0,1960,France,4,Soviet union,2,1,A.e.t.,Yugoslavia
1,1964,Spain,4,Spain,2,1,Fulltime,Soviet union
2,1968,Italy,4,Italy,1,1,"A.e.t. , 2–0 , replay",Yugoslavia
3,1972,Belgium,4,West germany,3,0,Fulltime,Soviet union
4,1976,Yugoslavia,4,Czechoslovakia,2,2,"A.e.t. , 5–3 penalties",West germany
5,1980,Italy,8,West germany,2,1,Fulltime,Belgium
6,1984,France,8,France,2,0,Fulltime,Spain
7,1988,West germany,8,Netherlands,2,0,Fulltime,Soviet union
8,1992,Sweden,8,Denmark,2,0,Fulltime,Germany
9,1996,England,16,Germany,2,1,G.g.,Czech republic

In [15]:
performance.sample(10)

              Team  Titles  Runners-up               Years won Years runner-up
4   Czech Republic       1           1                    1976            1996
11         England       0           2                       —    2020(h),2024
12          Serbia       0           2                       —       1960,1968
6           Greece       1           0                    2004               —
8         Portugal       1           1                    2016         2004(h)
7      Netherlands       1           0                    1988               —
1          Germany       3           3          1972,1980,1996  1976,1992,2008
5          Denmark       1           0                    1992               —
2           France       2           1            1984(h),2000         2016(h)
0            Spain       4           1  1964(h),2008,2012,2024            1984