In [318]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [319]:
df = pd.read_csv('performance.csv')

In [320]:
df

,Column1,Column2,Column3,Column4,Column5
0,Team,Title(s),Runners-up,Years won,Years runner-up
1,Spain,4,1,"1964,[a] 2008, 2012, 2024",1984
2,Germany[b],3,3,"1972, 1980, 1996","1976, 1992, 2008"
3,France,2,1,"1984,[a] 2000",2016[a]
4,Italy,2,2,"1968,[a] 2020[a]","2000, 2012"
5,Czech Republic[d],1,1,1976,1996
6,Denmark,1,—,1992,—
7,Greece,1,—,2004,—
8,Netherlands,1,—,1988,—
9,Portugal,1,1,2016,2004[a]
10,Russia[c],1,3,1960,"1964, 1972, 1988"
11,Belgium,—,1,—,1980
12,England,—,2,—,"2020,[a] 2024"
13,Serbia[e],—,2,—,"1960, 1968"

In [321]:
df.columns = df.iloc[0] 
df = df.drop(0).reset_index(drop=True)

In [322]:
df

,Team,Title(s),Runners-up,Years won,Years runner-up
0,Spain,4,1,"1964,[a] 2008, 2012, 2024",1984
1,Germany[b],3,3,"1972, 1980, 1996","1976, 1992, 2008"
2,France,2,1,"1984,[a] 2000",2016[a]
3,Italy,2,2,"1968,[a] 2020[a]","2000, 2012"
4,Czech Republic[d],1,1,1976,1996
5,Denmark,1,—,1992,—
6,Greece,1,—,2004,—
7,Netherlands,1,—,1988,—
8,Portugal,1,1,2016,2004[a]
9,Russia[c],1,3,1960,"1964, 1972, 1988"
10,Belgium,—,1,—,1980
11,England,—,2,—,"2020,[a] 2024"
12,Serbia[e],—,2,—,"1960, 1968"

In [323]:
df['Team'] = df['Team'].astype(str).apply(lambda x: x.split('[')[0])

In [324]:
df.rename(columns={'Title(s)': 'Titles',}, inplace=True)

In [325]:
df['Years won'] = df['Years won'].astype(str).apply(lambda x: x.replace('[a]', ' (h)').replace(', (', '(').replace(') ', ') ,').replace(" ",""))
df['Years runner-up'] = df['Years runner-up'].astype(str).apply(lambda x: x.replace('[a]', ' (h)').replace(', (', ' (').replace(') ', ') ,').replace(" ",""))

In [326]:
df['Titles'] = df['Titles'].astype(str).map(lambda x: x.replace('—', '0'))
df['Runners-up'] = df['Runners-up'].astype(str).map(lambda x: x.replace('—', '0'))

In [327]:
df

0             Team Titles Runners-up               Years won Years runner-up
0            Spain      4          1  1964(h),2008,2012,2024            1984
1          Germany      3          3          1972,1980,1996  1976,1992,2008
2           France      2          1            1984(h),2000         2016(h)
3            Italy      2          2         1968(h),2020(h)       2000,2012
4   Czech Republic      1          1                    1976            1996
5          Denmark      1          0                    1992               —
6           Greece      1          0                    2004               —
7      Netherlands      1          0                    1988               —
8         Portugal      1          1                    2016         2004(h)
9           Russia      1          3                    1960  1964,1972,1988
10         Belgium      0          1                       —            1980
11         England      0          2                       —    2020(h),2024
12          Serbia      0          2                       —       1960,1968